In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_excel('rnn_lstm.xlsx')
df.head()

,id,likesCount,ownerProfilePicUrl,ownerUsername,postUrl,Unnamed: 5,text,Unnamed: 7,timestamp
0,17988118445479198,0,https://scontent-iad3-2.cdninstagram.com/v/t51...,frank21327,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,I was afraid to start but when I did I was so ...,Scam,2023-08-01T00:02:06.000Z
1,17995515296305509,0,https://scontent-iad3-1.cdninstagram.com/v/t51...,lawrence____larry.10,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,I’m paying 5 grands to the first 7 people to m...,Scam,2023-08-01T00:02:44.000Z
2,17975784647410597,0,https://scontent-iad3-1.cdninstagram.com/v/t51...,mari_o9754,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,@madison_exchange_1 I was referred to this pla...,Scam,2023-08-01T00:03:38.000Z
3,18375946198053653,0,https://scontent-iad3-2.cdninstagram.com/v/t51...,howard____thopson,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,PAYING 5 GRAND TO The First 5 People To Messag...,Scam,2023-08-01T00:04:17.000Z
4,17965259663603317,0,https://scontent-iad3-1.cdninstagram.com/v/t51...,elly_x_elias,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,I never believe I could get my partner back. I...,Scam,2023-08-01T00:04:57.000Z

In [14]:
columns = df.columns
columns

Index(['id', 'likesCount', 'ownerProfilePicUrl', 'ownerUsername', 'postUrl',
       'Unnamed: 5', 'text', 'Unnamed: 7', 'timestamp'],
      dtype='object')

In [23]:
# renaming the unnamed 7 column as the label column

df.rename(columns={'Unnamed: 7':'label'}, inplace=True)
df.head()

,id,likesCount,ownerProfilePicUrl,ownerUsername,postUrl,Unnamed: 5,text,label,timestamp
0,17988118445479198,0,https://scontent-iad3-2.cdninstagram.com/v/t51...,frank21327,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,I was afraid to start but when I did I was so ...,Scam,2023-08-01T00:02:06.000Z
1,17995515296305509,0,https://scontent-iad3-1.cdninstagram.com/v/t51...,lawrence____larry.10,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,I’m paying 5 grands to the first 7 people to m...,Scam,2023-08-01T00:02:44.000Z
2,17975784647410597,0,https://scontent-iad3-1.cdninstagram.com/v/t51...,mari_o9754,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,@madison_exchange_1 I was referred to this pla...,Scam,2023-08-01T00:03:38.000Z
3,18375946198053653,0,https://scontent-iad3-2.cdninstagram.com/v/t51...,howard____thopson,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,PAYING 5 GRAND TO The First 5 People To Messag...,Scam,2023-08-01T00:04:17.000Z
4,17965259663603317,0,https://scontent-iad3-1.cdninstagram.com/v/t51...,elly_x_elias,https://www.instagram.com/p/CvYY_VxNxNr/,NaN,I never believe I could get my partner back. I...,Scam,2023-08-01T00:04:57.000Z

In [25]:
df_req = df[['text', 'label']]
df_req.head()

                                                text label
0  I was afraid to start but when I did I was so ...  Scam
1  I’m paying 5 grands to the first 7 people to m...  Scam
2  @madison_exchange_1 I was referred to this pla...  Scam
3  PAYING 5 GRAND TO The First 5 People To Messag...  Scam
4  I never believe I could get my partner back. I...  Scam

In [27]:
df_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2199 entries, 0 to 2198
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1964 non-null   object
 1   label   274 non-null    object
dtypes: object(2)
memory usage: 51.5+ KB

In [28]:
df_req[df_req['label'] != 'Scam']

                                                   text label
19     her outfits really do not be hitting like that..   NaN
20    I swear every time I see this thing I think it...   NaN
21    Sizzling ?  You can find jeans  & a white top ...   NaN
22                                @sarahpinkdonuts 100%   NaN
23                                                Twins   NaN
...                                                 ...   ...
2194                            I saw this, it was good   NaN
2195                                   @dancindome same   NaN
2196  @gailjjones Me neither. What’s going on. Did t...   NaN
2197                     This mom is a horrible person.   NaN
2198                                      What season ?   NaN

[2034 rows x 2 columns]